
<%- include('header') %>       
<h2>
    Admin Vagas:
    <a href='/admin/vagas/nova'>Nova Vaga</a>
</h2>
<div>
    <ul>
        <% vagas.forEach( val => { %>
        <li>
            <%- val.titulo %> 
            <a href='/admin/vagas/delete/<%- val.id %>'>Excluir</a>
        </li>
        
        <% }) %>
    </ul>
</div>
<%- include('footer') %>   

